<div class='panel panel-default'>
  <div class="panel-heading"><%=t('blacklight.advanced_search.tips')%></div>
  <div class="panel-body">
    <ul class="advanced-help">
     <li><%=t('blacklight.advanced_search.all')%>
     </li>

     <li><%=t('blacklight.advanced_search.any')%>
     </li>

     <li><%=t('blacklight.advanced_search.combine')%>
     </li>

     <li><%=t('blacklight.advanced_search.quotation')%> 
     
     <li><%=t('blacklight.advanced_search.plus')%></li>
     
     <li><%=t('blacklight.advanced_search.hyphen')%>

     <li><%=t('blacklight.advanced_search.and_or_not')%> </li>
     <li><%=t('blacklight.advanced_search.truncate')%></li>
   </ul>
  </div>
</div>