<li class="h5"><%= t('hyrax.admin.sidebar.updates') %></li>

<li class="<%= 'active' if request.path == '/updates/new' %>">
    <a href="/updates/new">
    <span class="fa fa-refresh" aria-hidden="true"></span> <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.new_update') %></span></a>
</li>
<li class="<%= 'active' if request.path.start_with?('/updates') && request.path != '/updates/new' %>">
    <a href="/updates">
    <span class="fa fa-history" aria-hidden="true"></span> <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.updates_history') %></span></a>
</li>
