<!-- Adapted from jquery-flot examples https://github.com/flot/flot/blob/master/examples/visitors/index.html -->
<script>
//<![CDATA[

  var hyrax_item_stats = <%= raw json_escape @stats.to_flot.to_json %>;

//]]>
</script>

<%= content_tag :h1, @file_set, class: "lower" %>

<div class="row">
  <div class="col-sm-12">
    <%= content_tag :h2, t('hyrax.stats.file_analytics') %>
    <div class="alert alert-info">
      <i class="glyphicon glyphicon-signal large-icon"></i>
      <% cadena= []%>
      <%cadena = @stats.created.strftime("%B %-d, %Y").split(" ")%>
      <%cadena[0]=t('hyrax.stats.'+cadena[0])%>
      <%= content_tag :strong, @stats.total_pageviews %> <%= t('hyrax.stats.views_and')%> <%= content_tag :strong, @stats.total_downloads %> <%= t('hyrax.stats.downloads_since')%> <%= cadena.join(" ") %>
    </div>
    <div class="stats-container">
        <div id="usage-stats" class="stats-placeholder"></div>
    </div>
    <div class="stats-container" style="height:150px;">
        <div id="overview" class="stats-placeholder"></div>
    </div>
  </div>
</div>
