<% if Hyrax.config.display_media_download_link? %>
    <div>
      <h2 class="sr-only"><%= t('hyrax.file_set.show.downloadable_content.heading') %></h2>
      <audio controls="controls" class="audiojs" style="width:100%" controlsList="nodownload" preload="auto">
        <source src="<%= hyrax.download_path(file_set, file: 'ogg') %>" type="audio/ogg" />
        <source src="<%= hyrax.download_path(file_set, file: 'mp3') %>" type="audio/mpeg" />
        Your browser does not support the audio tag.
      </audio>
      <%= render "shared/download_link", file_set: file_set  %>

    </div>
<% else %>
    <div>
      <audio controls="controls" class="audiojs" style="width:100%" controlsList="nodownload" preload="auto">
        <source src="<%= hyrax.download_path(file_set, file: 'ogg') %>" type="audio/ogg" />
        <source src="<%= hyrax.download_path(file_set, file: 'mp3') %>" type="audio/mpeg" />
        Your browser does not support the audio tag.
      </audio>
    </div>
<% end %>

<script type="text/javascript">
  $(document).on('turbolinks:load',function(){  
    $('audio').mediaelementplayer({
      // Do not forget to put a final slash (/)
      pluginPath: 'https://cdnjs.com/libraries/mediaelement/',
      // this will allow the CDN to use Flash without restrictions
      // (by default, this is set as `sameDomain`)
      shimScriptAccess: 'always'
      // more configuration
    });
  });

</script>