<% if Hyrax.config.display_media_download_link? %>
    <div>
      <h2 class="sr-only"><%= t('hyrax.file_set.show.downloadable_content.heading') %></h2>
      <video controls="controls" class="video-js vjs-default-skin" style="width:100%" data-setup="{}" controlsList="nodownload" preload="auto">
        <% case %>
        <% when file_set.height >= 1080 then %> 
          <source id="fullhd" src="<%= hyrax.download_path(file_set, file: 'fhd') %>" type="video/mp4" />
        <% when file_set.height >= 720 then %>  
          <source id="hd" src="<%= hyrax.download_path(file_set, file: 'hd') %>" type="video/mp4" />
        <% when file_set.height >= 480 then %>  
          <source src="<%= hyrax.download_path(file_set, file: 'sd') %>" type="video/mp4" />
        <% else %> 
          <source src="<%= hyrax.download_path(file_set) %>" type="video/mp4" />
        <% end %>

        
        Your browser does not support the video tag.
      </video>
      <%= render "shared/download_link", file_set: file_set  %>
    </div>
<% else %>
    <div>
      <video controls="controls" class="video-js vjs-default-skin" style="width:100%" data-setup="{}" controlsList="nodownload" preload="auto">
        <% case %>
        <% when file_set.height >= 1080 then %> 
          <source id="fullhd" src="<%= hyrax.download_path(file_set, file: 'fhd') %>" type="video/mp4" />
        <% when file_set.height >= 720 then %>  
          <source id="hd" src="<%= hyrax.download_path(file_set, file: 'hd') %>" type="video/mp4" />
        <% when file_set.height >= 480 then %>  
          <source src="<%= hyrax.download_path(file_set, file: 'sd') %>" type="video/mp4" />
        <% else %> 
          <source src="<%= hyrax.download_path(file_set) %>" type="video/mp4" />
        <% end %>

        Your browser does not support the video tag.
      </video>
    </div>
<% end %>

<script type="text/javascript">

  if (screen.height < 1080) { $("#fullhd").remove(); }
  if (screen.height < 720) { $("#hd").remove(); }




  $('video').mediaelementplayer({
    // Do not forget to put a final slash (/)
    stretching: 'responsive',
    pluginPath: 'https://cdnjs.com/libraries/mediaelement/',
    // this will allow the CDN to use Flash without restrictions
    // (by default, this is set as `sameDomain`)
    shimScriptAccess: 'always',
    // more configuration
    features: ['playpause', 'progress', 'current', 'duration', 'volume', 'fullscreen'], 
    

  })


</script>