<style>
  .label-warning {
    background-color: #f0ad4e;
  }

  .label-info {
    background-color: #5bc0de;
  }
</style>
<div class="row">
    <div class="col-md-12">
      <div class="panel-heading">
        <h1><span class="fa fa-check" aria-hidden="true"></span> Historial</h1>
    </div>
    <div class="panel panel-body">
      <h1>Paquetes procesados</h1>
      <div>
        <table class="table">
          <thead>
            <tr>
              <th> Nombre del paquete </th>
              <th> Fecha de Ingreso </th>
              <th> Peso (MB) </th>
              <th> Depositante </th>
              <th> Estado </th>
              <th> Tipo de objeto </th>
              <th> # de Registros</th>
              <th> Validado para RepNal </th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <% @imports.each do |import| %>
              <%
                case import.status

                  when "Procesado"
                    label = "success"
                  when "Cancelado"
                    label = "danger"
                  when "Procesando..."
                    label = "info"
                  when "Cancelando..."
                    label = "warning"
                end
              %>
              <tr>
                <td><%= import.name %></td>
                <td><%= import.date %></td>
                <td><%= import.storage_size %></td>
                <td><%= import.depositor %></td>
                <td> <span class="label label-<%=label%>"><%= import.status %></span></td>
                <td><%= import.object_type %></td>
                <td>
                  <button id="<%= import.name %>" role="button" class="btn btn-info custom-modal" data-toggle="modal">
                    <%= import.num_records %>
                  </button>
                  <div hidden><%= import.object_ids %></div>
                </td>
                <td><%=import.repnal%></td>
                <td>
                  <% d = import.status != "Procesado" ? true : false %>
                  <%= form_with(model: import, local: true) do |f| %>
                    <%= f.hidden_field :object_type, :value => import.object_type %>
                    <%= f.hidden_field :object_ids, :value => import.object_ids %>
                    <%= f.hidden_field :id, :value => import.id %>
                    <%= f.submit 'Deshacer Importación', data: {confirm: 'Confirmar (Esta acción no se puede deshacer)' }, class: "btn btn-default", disabled: d %>
                  <% end %>
                </td>
              </tr>
            <% end %>            
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="myModalLabel">
          
        </h2> 
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body"></div>
    </div>
    
  </div>

<script>
   
  $('.custom-modal').click(function(e){
      e.preventDefault();
      var sip = $(this).attr('id');
      var ids = $(this).next().text()     
      var mymodal = $('#myModal');
      mymodal.find('#myModalLabel').text("Identificadores del SIP "+sip);
      mymodal.find(".modal-body").text(ids)
           
      mymodal.modal('show');

  });
    
</script>