<div id="app">
  <div class="row" >
      {{message}}
      <div class="col-md-12">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h1><span class="fa fa-check" aria-hidden="true"></span> <%= t('hyrax.admin.imports.new_import') %></h1>
              </div>
              <div class="panel panel-body">
                  <h1>Paquetes por procesar</h1>
              <div>
              <%
                  workTypes = []
                  Hyrax::config.registered_curation_concern_types.each do |wt|
                      workTypes.append ([t('hyrax.admin.validations.'+wt.underscore.downcase), wt])
                  end
              %>
                  <table class="table">
                  <thead>
                      <tr>
                      <th> Nombre del paquete </th>
                      
                      <th> Peso (MB) </th>
                      <th> </th>
                      </tr>
                  </thead>
                  <tbody>
                      <% @sips.each_with_index do |s, index| %>
                          <tr>
                          <td><%= s[:sip] %></td>
                          <td><%= s[:size] %></td>
                          <td> 
                              <input class="form-check-input" type="checkbox" id="chk_<%=index%>">
                              <label class="form-check-label" for="flexCheckDefault">
                                  Validar pertinencia para el RepNal
                              </label>
                              <select class="form-select btn btn-default dropdown-toggle" id="select_<%=index%>" @change="change_select('select_<%=index%>')" aria-label="Default select example">
                                  <option value="" selected>Seleccionar tipo de obra</option>
                                  <%= render partial: "work_types", locals: {work_types: workTypes} %>
                              </select>
                              <button id="<%=s[:sip]%>" role="button" class="btn btn-primary custom-modal" 
                                  @click="validar('<%=s[:sip]%>', '<%=index%>', 's[:size]' )" disabled data-toggle="modal">Procesar</button>
                          </td>
                          </tr>
                      <% end %>
                                  
                  </tbody>
                  </table>
              </div>
              </div>
          </div>
      </div>
  </div>
  <div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">×</span>
          </button>
          <h2 class="modal-title" id="myModalLabel">
            Reporte del SIP&nbsp;{{modal_text}}
          </h2>           
        </div>
        <div class="modal-body">
          <div v-if="is_success">
            
          </div>
          <div v-else>
            <div><h4>Se encontraron los siguientes errores al procesar la petición.</h4></div>
            <ul>
              <div v-for="error in result">
                <li><i class="fa fa-times"></i>&nbsp;&nbsp;{{error}}</li>
              </div>
            </ul>
          </div>          
        </div>
        <div class="modal-footer">
          <!--<button type="button" class="btn btn-primary">Save changes</button>-->
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
      
    </div>
    
  </div>
</div>
<style>
    .fa-times{
      color: red;
    }
    ul {
      list-style: none;
    }
</style>
<script>
  
  var app = new Vue({
    el: '#app',
    data() {
        return {
          message: 'Hello Vue!',
          modal_text: '',
          modal_resp: '',
          modalShow: false,
          result: '',
          import_sip: '',
          is_success: false,
        }
      },
    methods: {
      validar(sip, id, size){
        var that = this;
        var worktype = $('#select_'+id).val();
        var repnal = $('#chk_'+id).is(":checked");
        var params = { sip: sip, work: worktype};
        if (repnal) {
          params["repnal"] = "true"
        }
        that.modal_text = sip;
        $.post("/imports/validate",
          params,
          function(data, status, xhr) {
            if (data.hasOwnProperty('success')) {
              mymodal.find(".modal-body").text("La validación ha sido existosa, puede iniciar la importación")
              $("#import").prop('disabled', false)
              import_sip = {import:{ name: sip, object_type: worktype, identifiers: result["success"], storage_size: size }}
              if (repnal) {
                import_sip["import"]["repnal"] = "true"
              }
              that.is_success = true;
          } else {
            that.result = eval(data);
            that.is_success = false;
          }   
        }).fail(function(jqxhr, settings, ex) { console.log('failed, ' + ex); });
        $('#myModal').modal('show');
      },
      change_select(select_index){
        if ($('#'+select_index).val() != '')  {
          $('#'+select_index).next().prop('disabled', false)      
        }else{
          $('#'+select_index).next().prop('disabled', true)
        }
      }
    }
  })
     
  var import_sip = {import: {}}

    /*$(".form-select").on('change', function() {
        if ($(this).val() != '')  {
            $(this).next().prop('disabled', false)
        
        }else{
            $(this).next().prop('disabled', true)
        }
        

    });*/
    
    $('#import').click(function(){
      $.ajax({url: "/imports.json",
                type: "post",
                data: import_sip,
                success: function(result){
                   if (result.hasOwnProperty('id')) {
                     alert("La importación ha comenzado...")
                     window.location.replace("/imports");
                   }
                },
                error: function(xhr, status, error) {
                  console.log(xhr,status,error)
                }
           })
    });


    /*$('.custom-modal').click(function(e){
        import_sip = {import: {}};
        e.preventDefault();
        $("#import").prop('disabled', true)
        var sip = $(this).attr('id');
        var td = $(this).parent();
        var worktype = td.children("select").val()
        var repnal = td.children("input").is(":checked")
        var params = { sip: sip, work: worktype}
        var size = td.prev().text()

        if (repnal) {
          params["repnal"] = "true"
        } 
        
        
        var mymodal = $('#myModal');
        mymodal.find('#myModalLabel').text("Reporte del SIP "+sip);
        mymodal.find(".modal-body").text("")
        $.ajax({url: "/imports/validate",
                type: "post",
                data: params,
                success: function(result){
                        
                        if (result.hasOwnProperty('success')) {

                            mymodal.find(".modal-body").text("La validación ha sido existosa, puede iniciar la importación")
                            $("#import").prop('disabled', false)
                            import_sip = {import:{ name: sip, object_type: worktype, identifiers: result["success"], storage_size: size }}
                            if (repnal) {
                             import_sip["import"]["repnal"] = "true"
                            } 
                        } else {

                            mymodal.find(".modal-body").text(JSON.stringify(result))

                        }



                        
                      }, 
                error: function(xhr, status, error) {
                        console.log(xhr,status,error)
                      }
          });
        
        mymodal.modal('show');

    });*/
    
</script>
