<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @update.name %>
</p>

<p>
  <strong>Object type:</strong>
  <%= @update.object_type %>
</p>

<p>
  <strong>Depositor:</strong>
  <%= @update.depositor %>
</p>

<p>
  <strong>Date:</strong>
  <%= @update.date %>
</p>

<p>
  <strong>Storage size:</strong>
  <%= @update.storage_size %>
</p>

<p>
  <strong>Status:</strong>
  <%= @update.status %>
</p>

<p>
  <strong>Object ids:</strong>
  <%= @update.object_ids %>
</p>

<p>
  <strong>Num records:</strong>
  <%= @update.num_records %>
</p>

<%= link_to 'Back', updates_path %>
