<div class="panel panel-default">
    <div class="panel-heading">
        <h1><span class="fa fa-check" aria-hidden="true"></span> <%= t('hyrax.admin.validations.check_your_file') %></h1>
    </div>
    <div class="panel panel-body">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <%= t('hyrax.admin.validations.show_already_validated_csv_files') %>
                    </button>
                </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-condensed table-striped datatable">
                                <thead>
                                    <tr>
                                        <th width="16%"><%= t('hyrax.admin.validations.user')%></th>
                                        <th width="16%"><%= t('hyrax.admin.validations.original_name')%></th>
                                        <th width="20%"><%= t('hyrax.admin.validations.new_name')%></th>
                                        <th width="16%"><%= t('hyrax.admin.validations.type_work')%></th>
                                        <th width="16%"><%= t('hyrax.admin.validations.created_at')%></th>
                                        <th width="16%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% @validation_csvs.each do |file| %>
                                    <tr>
                                        <td>
                                            <%= file.user %>
                                        </td>
                                        <td>
                                            <%= file.original_name %>
                                        </td>
                                        <td>
                                            <%= file.new_name %>
                                        </td>
                                        <td>
                                            <%= file.type_work %>
                                        </td>
                                        <td>
                                            <%= file.created_at.to_s().split(' ').slice(0,2).join(' ') %>
                                        </td>
                                        <td>
                                            <%= link_to t('hyrax.base.show.delete'), validations_path(file.id), method: :delete, data: {confirm: t('hyrax.admin.validations.are_you_sure')} %>
                                        </td>
                                    </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contenido">
            <div class="header contenedor">
                <%= form_for( :validations , url: {action: "create"},html: {class: "inline-block", multipart: true}) do |f| %>
                    <%= f.file_field :file, accept: '.csv', id: 'csvFileInput', class: ["form-control-file",'inline-block'] %>
                    <div class="select-work inline_block contenedor-oculto">
                        <%= f.label :type_work, t('hyrax.admin.validations.choose_options'), class: 'time-new-roman' %>
                        <%
                            workTypes = []
                            Hyrax::config.registered_curation_concern_types.each do |wt|
                                workTypes.append ([t('hyrax.admin,validations.'+wt.underscore), wt])
                            end
                        
                        %>
                        <%= f.select :type_work , [''] + workTypes %>
                        <%# <%= f.select :type_work , [[t('hyrax.admin.validations.view_options'), ''],[t('hyrax.admin.validations.thesis'),'thesis'],[t('hyrax.admin,validations.article'),'article'],
                                                [t('hyrax.admin,validations.book'),'book'],[t('hyrax.admin,validations.video'),'video'],
                                                [t('hyrax.admin,validations.book_chapter'),'book_chapter']] %> 
                    </div>
                    <%= f.text_field :original_name , class: ['original_name','contenedor-oculto'] %>
                    <%= f.text_field :new_name, class: ['new_name','contenedor-oculto'] %>
                    <%= f.hidden_field :user, value: @user %>
                    <%= f.hidden_field :path_file_csv, class:['path_file'], value: @path %>
                    <%= f.submit t('hyrax.admin.validations.save_and_notificate'), class: ['importar','contenedor-oculto'] %>
                <% end %>
                
            </div>
            
        </div>
    </div>
</div>
