<h2><%= t('hyrax.dashboard.stats.statistics_by_date')%></h2>
<p><%= t('hyrax.dashboard.stats.statistics_in_this_section')%>
</p>
<%= render "date_form" %>
<%= render "works" %>
<%= render "new_users" %>
<%= render "deposits" %>
