<div class="citations">
    <% if Hyrax.config.citations? %>
      <%= link_to "Citations", hyrax.citations_work_path(presenter), id: 'citations', class: 'btn btn-default' %>
    <% end %>
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= t('.header') %> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to 'EndNote', polymorphic_path([main_app, presenter], format: 'endnote') %></li>
        <%
=begin%>
 <li><%= link_to 'Zotero', hyrax.zotero_path, id: 'zoteroLink', name: 'zotero' %></li> 
<%
=end%>
        <li><%= link_to 'Mendeley', hyrax.mendeley_path, id: 'mendeleyLink', name: 'mendeley' %></li>
      </ul>
    </div>
  <h3>Forma de Citar:</h3>
  <div class="citation-way">
    <%= build_citation(presenter)%>
  </div>
</div>
