<%  array_of_ids = presenter.ordered_ids %>
<%  members = presenter.member_presenters_for(array_of_ids).sort_by { |presenter| presenter.title } %>
<%  

    # byebug
    audios = []
    videos = []
    members.each do |member|
            
        if member.model_name.name == "FileSet"
            tags = []
            derivatives = Hyrax::DerivativePath.derivatives_for_reference(member)
            derivatives.each { |d| tags.push d.split(".").first.split("-").last } 
            tags.delete("thumbnail")
            tags.sort!
            
            videos.push({src: hyrax.download_path(member, file: tags.last), thumbnail: hyrax.download_path(member, file: "thumbnail"), title: member.title.first}) if member.video?

            audios.push ({src: hyrax.download_path(member, file: tags.first), title: member.title.first}) if member.audio?
        
        
        else

            member.file_set_presenters.each do |file_set|

                tags = []
                derivatives = Hyrax::DerivativePath.derivatives_for_reference(file_set)
                derivatives.each { |d| tags.push d.split(".").first.split("-").last } 
                tags.delete("thumbnail")
                tags.sort!
                
                videos.push({src: hyrax.download_path(file_set, file: tags.last), thumbnail: hyrax.download_path(file_set, file: "thumbnail"), title: file_set.title.first}) if file_set.video?

                audios.push ({src: hyrax.download_path(file_set, file: tags.first), title: file_set.title.first}) if file_set.audio?

            end


        end
    end
%>
    <%if audios.count > 0 || videos.count > 0%>
        <h2 style="text-align: left;">Multimedia</h2>
    <% end %>

    <% if videos.count > 0 %>
        <div class="media-wrapper">
            <video id="player_video" width="100%" height="420px" controls preload="none" poster="<%= videos.first[:thumbnail]%>">
                <% videos.each do |video| %>
                    <source src="<%= video[:src] %>" data-playlist-thumbnail="<%= video[:thumbnail] %>"
                        title="<%= video[:title] %>"  type="video/mp4">
                <% end %>
            </video>
        </div>
    <% end %>
    
    <% if audios.count > 0 %>
        <br>
        <div class="media-wrapper">
            <audio id="player_audio" preload="none" controls width="100%">
                <% audios.each do |audio| %>
                    <source src="<%= audio[:src] %>" title="<%= audio[:title] %>"  type="audio/mp3">
                <% end %>
                
            </audio>
        </div>
    <% end %>


<script>
    var mediaElements = document.querySelectorAll('video, audio');

	for (var i = 0, total = mediaElements.length; i < total; i++) {
		new MediaElementPlayer(mediaElements[i], {
			features: ['prevtrack', 'playpause', 'nexttrack', 'current', 'progress', 'duration', 'volume', 'playlist', 'loop', 'fullscreen'],
		});
	}

</script>
