<% page_title ||= content_for?(:page_title) ? content_for(:page_title) : default_page_title %>
<% page_title ||= content_for?(:page_title) ? content_for(:page_title) : default_page_title %>
<% share_url ||=  !@presenter.respond_to?(:handle) || @presenter.handle != []  ?  request.original_url : @presenter.handle.first %>
<div class="social-media">
  <!-- Sharingbutton Facebook -->
  <%= link_to "https://facebook.com/sharer/sharer.php?#{{u: share_url}.to_param}", class: 'resp-sharing-button__link', target: '_blank', rel: 'noopener noreferrer', title: t('hyrax.base.social_media.facebook') do %>
    <i class="fa fa-facebook"></i>
  <% end %>

  <!-- Sharingbutton Twitter -->
  <!-- <%= link_to "https://twitter.com/intent/tweet/?#{{text: "Repositorio de El Colegio de México - "+ @presenter.title.first, url: polymorphic_url([main_app, @presenter])}.to_param}", class: 'resp-sharing-button__link', target: '_blank', rel: 'noopener noreferrer', title: t('hyrax.base.social_media.twitter') do %>
    <i class="fa fa-twitter"></i> 
  <% end %> -->
  
    <i id="clipboard-link" class="fa fa-link"  style="cursor: pointer;" data-clipboard-text="<%= share_url %>" title="<%=t('hyrax.base.social_media.link')%>" data-placement="bottom"> </i> 
  
</div>

<script type="text/javascript">
  $(document).ready(function(){
  
    var clipboard = new Clipboard('#clipboard-link', {
        text: function(trigger) {
            return trigger.getAttribute('data-clipboard-text');
        }
    });

    clipboard.on('success', function(e) {
        alert("<%= t('hyrax.base.social_media.url_copied')%>");
        e.clearSelection();
    });

    clipboard.on('error', function(e) {
        alert("<%= t('hyrax.base.social_media.url_copied_fail')%>");
    });

    
    
  });  
</script>