<% provide :page_title, @presenter.page_title %>
<%= render 'shared/citations' %>

<div class="row work-type">
  <div class="col-xs-12">
    <%= render 'work_type', presenter: @presenter %>
  </div>
  <div itemscope itemtype="http://schema.org/CreativeWork" class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= render 'work_title', presenter: @presenter %>
      </div>
      <div class="panel-body">
        <div class="row">
          <%= render 'workflow_actions_widget', presenter: @presenter %>
          <% 
            
            unless @presenter.representative_presenter.nil? then
              fs = FileSet.find(@presenter.representative_presenter.id).visibility
            end

          %>
          <% if @presenter.representative_presenter.nil? || 
                (fs == "restricted" && !user_signed_in?)|| 
              !(@presenter.representative_presenter.video? || 
                @presenter.representative_presenter.audio? || 
                @presenter.representative_presenter.pdf? ||
                @presenter.representative_presenter.office_document? || 
                @presenter.representative_presenter.image? ) then %>
              
              <%# first = 3 second = 9 third = 4 %>
              <div class="col-sm-3 text-center">
                <%if fs != "restricted" then %>
                  <div class="col-sm-12">
                    <%= render 'representative_media', presenter: @presenter, viewer: true if @presenter.iiif_viewer? %>
                    <%= render 'representative_media', presenter: @presenter, viewer: false unless @presenter.iiif_viewer?  %>
                  </div>
                  <div class="col-sm-12">
                    <%= render 'citations', presenter: @presenter %>
                  </div>
                <%end%>
                <style>
                  .social-media{
                    text-align: left;
                    padding-left: 0px;
                  }
                  .social-media i, .social-media a{
                    margin-left:0px;
                    margin-right: 20px;
                  }
                </style>
                <div class="col-sm-12">
                  <%= render 'social_media' %>
                </div>
              </div>
              <div class="col-sm-9">
                <%= render 'metadata', presenter: @presenter %>
              </div>
          <% else %>
              <%# First = 9 second = 3 third = 6 %>
              <div class="col-sm-9 text-center">
               
                <div class="col-sm-12">
                  <%= render 'representative_media', presenter: @presenter, viewer: true if @presenter.iiif_viewer? %>
                  <%= render 'representative_media', presenter: @presenter, viewer: false unless @presenter.iiif_viewer?  %>
                </div>
                <div class="col-sm-6">
                  <%= render 'citations', presenter: @presenter %>
                </div>
                <div class="col-sm-6">
                  <%= render 'social_media' %>
                </div>
                
              </div>
              <div class="col-sm-3">
                <%= render 'metadata', presenter: @presenter %>
              </div>
          <% end %> 



              
          <div class="col-sm-12">
            <%= render 'relationships', presenter: @presenter %>
            <%= render 'items', presenter: @presenter %>
            <%# TODO: we may consider adding these partials in the future %>
            <%# = render 'sharing_with', presenter: @presenter %>
            <%# = render 'user_activity', presenter: @presenter %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% unless @presenter.representative_presenter.respond_to?('image?') && @presenter.representative_presenter.image? %>
<script type="text/javascript">
  $( "#file_download" ).prependTo( ".citations" );
</script>
<% end %>